html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 25px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
  color: white;
}

a {
    color: white;
}

#homeImg {
    height: 1000px;
    width: 1300px;
    border-radius: 25px;
}

table {
    color: white;
}

h1, h2, table, ul, p, a, * {
    font-family: "Teko", sans-serif;
    color: white;
}
